<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pokémon List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading && !error">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let pokemon of pokemons">
        <ion-card [routerLink]="['/pokemon-detail', pokemon.url.split('/').filter(Boolean).pop()]">
          <img [src]="getImageUrl(pokemon)" alt="{{ pokemon.name }}">
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more Pokémon...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>